@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
body{
    background-origin: border-box;
    background-size: auto;
    margin-top: 10px;
    margin-bottom: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
}
#encab1{
    background-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzF0YQLOCil3w978TaMcHru-k90GT4BybYEw&usqp=CAU);
    padding: 30px;
    border-radius: 10px;
    margin:10pt;
    color: white;
    font-size:x-large;
    text-align: center;
    font-style: italic;
}
#formulario{
    background-color: black;
    padding: 30px;
    color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    }
#valor1 , #valor2{
    width:200px;
    height: auto;
    
}    
#btncalcular{
    width: 200px;
    height: 75px;
    display: inline-block;
    border: solid black;
    border-radius: 20px;
    background-color: gray;
    color:black;
    }
#cuadroresumen{
    background-color: gray;
    border-radius: 20px;
    color: black;
    margin:10px;
    padding: 5px;
    }
#resumen{float: left;
font-size: x-large;
}
#resultadosresumen{
    font-size: medium;
    text-align:right ;
    margin-right: 5px;
}
